html,
body {
    height: 100%;
    margin: 0;
    overflow-y: hidden;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

p {
    font-size: x-large;
}

h1 {
    margin: 10px 0 5px 0;
}

hr {
    border-top: 2px solid rgb(100, 100, 100);
    margin: 20px 0px;
}
time {
    font-weight: 700;
    width: 200px;
    float: left;
    text-align: center;
    line-height: 1.3;
}
summary {
    line-height: 1.3;
}
mark {
    width: 200px;
    float: left;
    text-align: center;
    background-color: #FFF;
    line-height: 1.3;
}

#bookings {
    height: 60%;
    padding: 40px 50px;
    margin: 0;
    font-size: x-large;
}

#printStatus {
    background-color: #015AA9;
    padding: 40px 60px;
    color: #fff;
}

#printContainer {
    display: flex;
}

#printerImage {
    width: 280px;
    padding: 40px 0;
}

#printMonitor {
    margin-left: 40px;
    line-height: 1.5;
}