<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dennis Printmonitor</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

{#<body style="background-image: url('{{  url_for("static", filename="FallbackPortrait1.png")  }}')">#}
<body style="background-image: url('{{ url_for("static", filename="blob_scene_3.svg") }}')">
<div id="hub">
    <img src="{{ url_for('static' , filename='hub.png') }}" alt="">
</div>
<div id="bookings">

    <h1>Bookings:</h1>

</div>
<div id="printStatus">
    <h1>Printer status</h1>
    <!-- Prusa-server computer -->
    <div id="printContainer">
        {#        <img id="printerImage" src="{{ image_url }}" alt="Printer Image">#}
        <img id="printerImage" src="{{ url_for('video_feed') }}" alt="Video Stream">
        <div id="printMonitor">
            <p>
                <strong>Status: </strong><span id="printer-state"></span><br>
                <strong>Job: </strong> <span id="job-file-display_name"></span><br>
                <strong>Progress: </strong> <span id="job-progress"></span> %<br>
                <strong>Remaining: </strong> <span id="job-time_remaining"></span> mins<br>
                <strong>Nozzle temp: </strong> <span id="printer-temp_nozzle"></span> C<br>
                <strong>Bed temp: </strong> <span id="printer-temp_bed"></span> C<br>
                <strong>Z-height: </strong> <span id="printer-axis_z"></span> mm<br>
            </p>
        </div>
    </div>
</div>
<div id="featuredContent">
    {{ featuredContent | safe }}
</div>
<div id="joke">
    <p>{{ joke | safe }}</p>
</div>
<div id="fallback"></div>
</body>


<script>
    const printerImage = document.querySelector("#printerImage");
    const printStatus = document.querySelector("#printStatus");
    const featuredContent = document.querySelector("#featuredContent");
    const jokeElement = document.querySelector("#joke p");
    const bookingsElement = document.querySelector("#bookings");
    const fallbackElement = document.getElementById("fallback");
    let idleStartTime = null;

    async function fetchPrinterImage() {
        try {
            const response = await fetch('{{ image_url }}');
            {#if (!response.ok) throw new Error("Image data fetch failed");#}
            const blob = await response.blob();
            printerImage.src = URL.createObjectURL(blob);
        } catch (error) {
            console.error('Error fetching the last webcam image:', error);
        }
    }

    // CORS redirection via localhost

    async function fetchPrinterStatus() {
        try {
            const response = await fetch('{{printer_status_url}}');
            {#if (!response.ok) throw new Error('Printer data fetch failed');#}
            const data = await response.json();

            function showFeaturedContent() {
                printStatus.style.display = "none";
                featuredContent.style.display = "block";
            }

            if (!data || !data.printer || data.printer.state === 'IDLE') {
                showFeaturedContent()
            } else if (data.printer.state === 'finished'.toUpperCase()) {
                if (!idleStartTime) {
                    idleStartTime = new Date();
                } else {
                    const now = new Date();
                    const diffMinutes = (now - idleStartTime) / (1000 * 60);
                    if (diffMinutes >= 30) {
                        {#console.log('Printer has been IDLE for 30 minutes');#}
                        showFeaturedContent()
                    }
                }
            } else {
                idleStartTime = null;
                featuredContent.style.display = "none";
                printStatus.style.display = "block";
                document.querySelector("#printer-state").textContent = data.printer.state;
                document.querySelector("#printer-temp_nozzle").textContent = data.printer.temp_nozzle;
                document.querySelector("#printer-temp_bed").textContent = data.printer.temp_bed;
                document.querySelector("#printer-axis_z").textContent = data.printer.axis_z;
                if (data.job) {
                    document.querySelector("#job-progress").textContent = data.job.progress;
                    document.querySelector("#job-file-display_name").textContent = data.display_name;
                    document.querySelector("#job-time_remaining").textContent = data.job.time_remaining / 60;
                } else {
                    document.querySelector("#job-progress").textContent = "-";
                    document.querySelector("#job-file-display_name").textContent = "No active job";
                    document.querySelector("#job-time_remaining").textContent = "-";
                }
            }
        } catch (error) {
            console.error('Error fetching printer job data:', error);
        }
    }

    function addBookingToDOM(rooms, booking) {
        function _time(time) {
            const parsedTime = new Date(time).toLocaleTimeString('fi-FI').slice(0, -3);
            return parsedTime === 'Invalid D' ? '' : parsedTime;
        }

        let eventRoom = booking.room || rooms[booking.room_id - 1];
        let roomSpan = document.getElementById(eventRoom);
        if (!roomSpan) {
            roomSpan = document.createElement("span");
            roomSpan.id = eventRoom;
            bookingsElement.appendChild(roomSpan);
            roomSpan.appendChild(document.createElement("hr"));
            let table = document.createElement("div");
            table.className = 'table';
            let row = document.createElement("div");
            row.className = 'row';
            table.appendChild(row);
            let colLeft = document.createElement("div");
            colLeft.className = 'left-column';
            colLeft.style.verticalAlign = 'center';
            row.appendChild(colLeft);
            let mark = document.createElement("mark");
            mark.textContent = eventRoom;
            colLeft.appendChild(mark);
            let colRight = document.createElement("div");
            colRight.className = 'right-column';
            row.appendChild(colRight);
            roomSpan.appendChild(table);
        }

        let rCol = roomSpan.querySelector(".right-column");
        let rightRow = document.createElement("div");
        rightRow.className = 'row-right';
        let leftDiv = Object.assign(document.createElement("div"), {className: 'float-left'});
        let time = document.createElement("time");
        time.textContent = _time(booking.start) + " - " + _time(booking.end);
        leftDiv.appendChild(time);
        rightRow.appendChild(leftDiv);

        let rightDiv = Object.assign(document.createElement("div"), {className: 'float-right'});
        let summary = document.createElement("summary");
        summary.textContent = booking.title;
        rightDiv.appendChild(summary);
        rightRow.appendChild(rightDiv);

        rCol.appendChild(rightRow);
    }


    async function fetchBlockBookings() {
        try {
            const response = await fetch('{{arbs_url}}');
            {#if (!response.ok) throw new Error('ARBS data fetch failed');#}
            const data = await response.json();
            if (data.error) {
                console.log('data: ' + data.error);
            } else {
                bookingsElement.innerHTML = "<h1>Bookings:</h1>";
                const rooms = {{ rooms|safe }};
                for (const booking of data) {
                    let today = new Date();
                    let bookingDate = new Date(booking.start);
                    if (today.toDateString() === bookingDate.toDateString()) {
                        addBookingToDOM(rooms, booking);
                    } else {
                        const response = await fetch('{{ url_for("static", filename="emptyBookings.html") }}');
                        {#if (!response.ok) throw new Error('Failed to fetch emptyBookings.html');#}
                        const text = await response.text();
                        const doc = new DOMParser().parseFromString(text, 'text/html');
                        const spanElements = Array.from(doc.querySelectorAll('span'));
                        spanElements.forEach(span => bookingsElement.appendChild(span));
                        break;
                    }
                }
                fallbackElement.style.display = "none";
            }
        } catch (error) {
            console.error('Error fetching bookings:', error);
            fallbackElement.style.display = "block";
        }
    }


    async function fetchJokes() {
        try {
            const response = await fetch('/static/jokes.arr');
            {#if (!response.ok) throw new Error('Failed to fetch jokes');#}
            const text = await response.text();
            jokes = text.split('\n').map(joke => joke.replace(/^\d+\.\s*“|”$/g, '').trim()).filter(joke => joke !== '');
        } catch (error) {
            console.error('Error fetching jokes:', error);
        }
    }

    function setRandomJoke() {
        if (jokes.length > 0) {
            jokeElement.textContent = jokes[Math.floor(Math.random() * jokes.length)];
        }
    }

    let jokes = [];
    fetchJokes().then(() => {
        setRandomJoke();
        setInterval(setRandomJoke, 10000);
    });

    {#setInterval(fetchPrinterImage, 10_000);#}
    setInterval(fetchPrinterStatus, 10_000);
    fetchBlockBookings();
    setInterval(fetchBlockBookings, 1000 * 60 * 5);
</script>
</html>
