<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dennis Printmonitor</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

{#<body style="background-image: url('{{  url_for("static", filename="FallbackPortrait1.png")  }}')">#}
<body style="background-image: url('{{ url_for("static", filename="blob_scene_3.svg") }}')">
<div id="hub">
    <img src="{{ url_for('static' , filename='hub.png') }}" alt="">
</div>
<div id="bookings">

    <h1>Bookings</h1>
    <span id="F363">
    <hr>
          <div class="float-left">
              <time>BCI lab</time>
              <mark>F363</mark>
          </div>
          <div class="float-right">
              <summary>No bookings</summary>
              <article>&nbsp;</article>
          </div>
      </span>
    <span id="F365">
    <hr>
          <div class="float-left">
              <time>Computer lab</time>
              <mark>F365</mark>
          </div>
        <div class="float-right">
            <summary>No bookings</summary>
            <article>&nbsp;</article>
        </div>
      </span>
    <span id="F367">
    <hr>
          <div class="float-left">
              <time>Robot lab</time>
              <mark>F367</mark>
          </div>
          <div class="float-right">
              <summary>Always busy making the world a better place for robots and serving humans. </summary>
              <article>&nbsp</article>
          </div>
      </span>

</div>
<div id="printStatus">
    <h1>Printer status</h1>
    <!-- Prusa-server computer -->
    <div id="printContainer">
        <img id="printerImage" src="{{ image_url }}" alt="Printer Image">
        <div id="printMonitor">
            <p>
                <strong>Status: </strong><span id="printer-state"></span><br>
                <strong>Job: </strong> <span id="job-file-display_name"></span><br>
                <strong>Progress: </strong> <span id="job-progress"></span> %<br>
                <strong>Remaining: </strong> <span id="job-time_remaining"></span> mins<br>
                <strong>Nozzle temp: </strong> <span id="printer-temp_nozzle"></span> C<br>
                <strong>Bed temp: </strong> <span id="printer-temp_bed"></span> C<br>
                <strong>Z-height: </strong> <span id="printer-axis_z"></span> mm<br>
            </p>
        </div>
    </div>
</div>
<div id="featuredContent">
    {{ featuredContent | safe }}
</div>
<div id="joke">
    <p>{{ joke | safe }}</p>
</div>
<div id="fallback"></div>
</body>


<script>
    function fetchPrinterImage() {
        fetch('{{ image_url }}') // Prusa server computer
            .then(response => {
                if (!response.ok) {
                    throw new Error("Image data fetch failed");
                }
                return response.blob();
            })
            .then(blob => {
                const imageUrl = URL.createObjectURL(blob);
                document.querySelector("#printerImage").src = imageUrl;
            })
            .catch(error => {
                console.error('There was a problem with fetching the last webcam image:', error);
            });
    }

    // CORS redirection via localhost
    async function fetchPrinterStatus() {
        try {
            const response = await fetch('{{printer_status_url}}');
            if (!response.ok) {
                throw new Error('Printer data fetch failed');
            }
            // Wait for the promise to be resolved
            const data = await response.json();
            //  no printing running
            if (!data || !data.printer || !data.printer.state || data.printer.state === 'IDLE') {
                console.log(data);
                document.querySelector("#printStatus").style.display = "none";
                document.querySelector("#featuredContent").style.display = "block";
                {#document.querySelector("#joke").style.display = "block";#}
            } else {
                {#document.querySelector("#featuredContent").style.display = "none";#}
                document.querySelector("#featuredContent").style.display = "none";
                {#document.querySelector("#joke").style.display = "none";#}
                document.querySelector("#printStatus").style.display = "block";
                document.querySelector("#printer-state").textContent = data.printer.state;
                document.querySelector("#printer-temp_nozzle").textContent = data.printer.temp_nozzle;
                document.querySelector("#printer-temp_bed").textContent = data.printer.temp_bed;
                document.querySelector("#printer-axis_z").textContent = data.printer.axis_z;
                if (data.job !== undefined) {
                    document.querySelector("#job-progress").textContent = data.job.progress;
                    document.querySelector("#job-file-display_name").textContent = data.display_name;
                    document.querySelector("#job-time_remaining").textContent = data.job.time_remaining / 60;
                } else {
                    document.querySelector("#job-progress").textContent = "-";
                    document.querySelector("#job-file-display_name").textContent = "No active job";
                    document.querySelector("#job-time_remaining").textContent = "-";
                }
            }

        } catch (error) {
            console.error('There was a problem with fetching printer job data:', error);
        }
    }

    async function fetchBlockBookings() {
        try {
            const response = await fetch('{{arbs_url}}');
            if (!response.ok) {
                throw new Error('ARBS data fetch failed');
            }
            // Wait for the promise to be resolved
            const data = await response.json();
            console.log(data);
            // Empty booking template
            {#document.querySelector("#bookings").innerHTML = "<h1>Bookings</h1>";#}
            // check if data has bookings
            if (data.error !== '') {
                console.log('data: ' + data.error);
                {#return#}
            } else   {
                for (const booking of data) {
                    // Format XML "2024-08-22T07:30:00+03:00"
                    function _time(time) {
                        return new Date(time).toLocaleTimeString('fi-FI').slice(0, -3);
                    }

                    let localTimeConc = _time(booking.start) + " - " + _time(booking.end);
                    const rooms = {{ rooms|safe }};
                    let eventRoom = rooms[booking.room_id - 1];
                    try {
                        roomSpan = document.getElementById(eventRoom);
                        roomSpan.style.display = "none";
                    } catch (error) {
                        console.log('Booking for ' + eventRoom + ': ' + booking.title)
                    }

                    // Line above booking
                    let hr = document.createElement("hr");
                    document.querySelector("#bookings").appendChild(hr);
                    // Time of booking
                    let time = document.createElement("time");
                    time.textContent = localTimeConc;
                    document.querySelector("#bookings").appendChild(time);
                    // Name of booking
                    let summary = document.createElement("summary");
                    summary.textContent = booking.title;
                    document.querySelector("#bookings").appendChild(summary);
                    // Room of booking
                    let mark = document.createElement("mark");
                    mark.textContent = eventRoom;
                    document.querySelector("#bookings").appendChild(mark);
                    // Name of booker (to be implemented)
                    let article = document.createElement("article");
                    article.innerHTML = "&nbsp;";
                    document.querySelector("#bookings").appendChild(article);
                }
                document.getElementById("fallback").style.display = "none";
            }

        } catch (error) {
            console.error('There was a problem with fetching bookings:', error);
            document.getElementById("fallback").style.display = "block";
        }

    }

    // Fetch image every 10 seconds
    setInterval(fetchPrinterImage, 20000);

    // Fetch printer status every 10 seconds
    setInterval(fetchPrinterStatus, 20000);

    fetchBlockBookings()
    // Fetch block bookings once an hour (in ms)
    setInterval(fetchBlockBookings, 3600000);

    let jokes = [];

    function cleanJoke(joke) {
        // Remove numbering and quotation marks
        return joke.replace(/^\d+\.\s*“|”$/g, '').trim();
    }

    async function fetchJokes() {
        try {
            const response = await fetch('/static/jokes.arr');
            if (!response.ok) {
                throw new Error('Failed to fetch jokes');
            }
            const text = await response.text();
            jokes = text.split('\n')
                .map(cleanJoke)
                .filter(joke => joke !== '');
        } catch (error) {
            console.error('Error fetching jokes:', error);
        }
    }

    function setRandomJoke() {
        if (jokes.length > 0) {
            document.querySelector('#joke p').textContent = jokes[Math.floor(Math.random() * jokes.length)];
        }
    }

    // Fetch jokes once on page load
    fetchJokes().then(() => {
        setRandomJoke();
        // Update joke every 10 seconds
        setInterval(setRandomJoke, 10000);
    });
</script>
</html>
